@import "./../Global/global.scss";

.sale-banner {
    text-align: center;
    background-color: #f7f7f7;
    padding: 10px;
    border-bottom: 2px solid #cdcdcd;
    a {
      @include linearDecoration;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    ul {
      list-style-type: none;
      display: inherit;
      li {
        margin-right: 15px;
        font-size: 18px;
        position: relative;
        &:hover {
          ul.subnav {
            visibility: visible;
            opacity: 1;
            top: 64px;
            z-index: 2;
          }
        }
      }
    }
    #utility {
      margin-right: 40px;
      i.icons {
        margin-right: 20px;
        font-size: 20px;
        color: $color;
        &:hover {
          color: #d3d3d3;
        }
      }
    }
    #logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 20px;
      span {
        font-size: 30px;
        margin-left: 10px;
        font-family: "Playfair Display", serif;
        @include linearDecoration;
      }
    }
    .navigation-links {
      .subnav {
        position: absolute;
        width: 720px;
        display: flex;
        justify-content: space-between;
        top: 57px;
        background: #f9f9f9;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        transition: $hover-timing;
        padding: 20px;
        opacity: 0;
        visibility: hidden;
        li {
          font-size: 14px;
          ul {
            li {
              margin-bottom: 15px;
              &:not(:first-child):hover {
                color: #cdcdcd;
              }
              &:first-child {
                margin-bottom: 18px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }