// Banner

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 720px; // Set desired height of the carousel
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease; // Smooth transition for sliding effect
  }
  
  .slide {
    flex: 0 0 100%; // Each slide occupies full width of the carousel
  }
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  