// Banner
@import "./../Global/global.scss";
.brands {
    padding: 30px 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #d3d3d3;
    ul.list-images {
      width: 95%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      li.brand-child {
        width: 14.28571429%;
        padding: 0 15px;
        a.more-brands {
          color: #222222;
          &:hover {
            @include linearDecoration;
          }
        }
      }
    }
  }
  