* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  // variables
  $navigation-background-color: #ffd9da;
  $color: #89023e;
  $hover-timing: all 0.2s ease;
  $subnav-link-colors: #1b2021;
  